      <li class='list'>
        <%= link_to item_path(item.id), method: :get do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
          <%# 商品が売れていればsold outを表示しましょう %>
          <%#<% if order.id.attached? %>
            <%#<div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
          <% end %>
          <%# //商品が売れていればsold outを表示しましょう %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.item_name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price.to_s(:delimited) %>円<br><%= item.shipping_fee_status.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      

